<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar dotación incluída</title>
    <link rel="stylesheet" text="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <form th:action="@{'/tiposHabitacion/' + ${id_tipo} + '/dotacion/' + ${id_dotacion} + '/edit/save'(rol=${param.rol})}" th:object="${dotacionIncluida}" method="POST">
        <div th:replace="~{fragments/dotacionIncluidaForm :: dotacionIncluidaForm(titulo='Editar dotación incluída', 
        dotacionIncluida=${dotacionIncluida}, dotaciones=${dotaciones})}"></div>
    </form>
</body>
</html>
