<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar tipo de usuario</title>
    <link rel="stylesheet" text="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <form th:action="@{'/tiposUsuario/' + ${id_tipo} + '/edit/save'(rol=${param.rol})}" th:object="${tipoUsuario}" method="POST">
        <div th:replace="~{fragments/tipoUsuarioForm :: tipoUsuarioForm(titulo='Editar tipo de usuario', tipoUsuario=${tipoUsuario})}"></div>
    </form>
</body>
</html>